<a href="https://colab.research.google.com/github/Kimberleykem/NetflixTitles-DataCleaning/blob/main/Airplane_Crashes_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

2. Determine the number of rows and columns in the dataset.

In [ ]:
print("Number of rows and columns in the dataset:", df.shape)

 3. Display the last 75 rows in the dataset.

In [ ]:
df.tail(75)

4. Each column except the first one has some missing data. For each column, name
the most appropriate method for treating the missing data. Justify your choices.

In [ ]:
# Checks for missing values and counts
df.isnull().sum()

Handling missing Data column by column.
1. Date.
0 missing values as a result no action is needed.
2. Time.
2219 missing values. The missing time values can be filled with `UNKNOWN` OR 00.00. This is because time isn't important for totals.
3. Location.
20 missing values. The missing location values should be filled with `UNKNOWN`. This helps keep the record while highlighting missing data.
4. Operator.
18 missing values. The blank spaces need to be filled with the mode(most frequent operator). Since this is an airline they often repeat as a result the most common operator is the best probability.
5. Flight.
4199 missing values. The blanks should be filled with `UNKNOWN`. Flight have a variety of numbers so filling them with `UNKNOWN` will help avoid deleting data.
6. Route.
1707 missing values. the blanks should be filled with `UNKNOWN`. Might not be possible to infer missing routes properly and is a text column.
7. Type.
27 missing values. The missing values should be filled with the mode, which in this case is the most common aircraft type. This is a resonanble approximatin due to the common occurances.
8. Registration.
335 missing values. The missing values should be filled with `UNKNOWN`. Registration numbers are specific and can't be imputed, it would tamper with the data.
9. cn/ln.
1228 missing values. The missing values should be filled with `UNKNOWN`. Serial numbers cannot be approximated.
10. Aboard.
22 missing values. The missing values should be filled with the median value. This reduces distortion from the outliers in the data.
12. Fatalities.
12 missing values. The missing values should be filled with the median value. This reduces distortion from the outliers in the data.
13. Ground.
22 missing values. The missing values should be filled with 0. Most of the crashes have a zero ground fatalities.
13. Summarry.
390 missing values. The missing values should be filled with `NA` or not available.This is because it is textual data and can be marked clearly instead of deleting rows.

5. Create a new dataframe from the raw/uncleaned data called
‘fatality_locations’ with the following columns: ‘Date’,
‘Location’, ‘Aboard’, ‘Fatalities’.

In [ ]:
#Creates a new dataframe with the specific listed columns.
fatality_locations = df[['Date', 'Location', 'Aboard', 'Fatalities']].copy()
#Displays the first 5 rows.
fatality_locations.head()

Determine the date of the highest number of recorded fatalities from this new
dataframe.

In [ ]:
max_fatal = fatality_locations['Fatalities'].max()
fatality_locations[fatality_locations['Fatalities'] == max_fatal][['Date', 'Fatalities']]

Compare the number of passengers aboard to the number of fatalities per crash.
Are here any recorded crashes where there were no fatalities? If so, how many?

In [ ]:
comparison = fatality_locations[['Aboard','Fatalities']]
no_fatalities = fatality_locations[fatality_locations['Fatalities'] == 0]

print("Comparison of passengers aboard and fatalities per crash:\n")
display(comparison.head(10))
print(f"\nNumber of crashes with zero fatalities :{len(no_fatalities)}")
display(no_fatalities)

 Q8 In the ‘fatality_locations’ dataframe, the location column has data items
represented as ‘Region, U.S. State/Country’. Split this column to have two columns
of regions and states/countries

In [ ]:
fatality_locations [['Region','State/Country']] = fatality_locations['Location'].str.split(',', n=1 , expand=True)
fatality_locations.head()

Q9 Order the dataframe by the number of fatalities from highest to lowest and select the
first 100.

In [ ]:
top_100 = fatality_locations.sort_values(by='Fatalities', ascending=False).head(100)
top_100

 Generate a pie chart that shows the distribution of the top 25 number of fatalities
per country/U.S. State. [Hint: charts can be generated from the seaborn library]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

data = fatality_locations['State/Country'].value_counts().head(25)

plt.figure(figsize=(5, 5))
plt.pie(data.values, labels=data.index)
plt.title('Top 25 Fatalities by State/Country')
plt.axis('equal')
plt.show()