<a href="https://colab.research.google.com/github/bernardDesmond23/NetflixTitles-DataCleaning/blob/main/Airplane_Crashes_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

2. Determine the number of rows and columns in the dataset.

In [ ]:
print("Number of rows and columns in the dataset:", df.shape)

 3. Display the last 75 rows in the dataset.

In [ ]:
df.tail(75)

**PUT QUESTION 4 HERE **

In [ ]:
#paste code for question 4 here

Create a new dataframe from the raw/uncleaned data called
‘fatality_locations’ with the following columns: ‘Date’,
‘Location’, ‘Aboard’, ‘Fatalities’.

In [ ]:
fatality_locations = df[['Date', 'Location', 'Aboard', 'Fatalities']].copy()
fatality_locations.head()

Determine the date of the highest number of recorded fatalities from this new
dataframe.

In [ ]:
max_fatal = fatality_locations['Fatalities'].max()
fatality_locations[fatality_locations['Fatalities'] == max_fatal][['Date', 'Fatalities']]

**PUT QUESTION 7 HERE **

In [ ]:
#paste code for question 7 here

**PUT QUESTION 8 HERE **

In [ ]:
#paste code for question 8 here

**PASTE  QUESTION 9 HERE**

In [ ]:
#paste code for question 9 here

**PASTE QUESTION 10 HERE **

In [ ]:
#paste code for question 10 here