<a href="https://colab.research.google.com/github/anastacia254/AI-Coursework2025/blob/main/Netflix_Titles_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()
df =pd.read_csv('netflix_titles.csv')

Data indexing question 1
Number of all Movies originating from South Africa

In [ ]:
sa_movies_count = df[(df['type'] == 'Movie') & (df['country'] == 'South Africa')]
print(" Number of Movies from South Afica;",len(sa_movies_count))

Data indexing question 2
What is the description of the movie in the 12th row?

In [ ]:
description_12 = df.iloc[11]['description']
print("Description of the movie in 12th row:\n", description_12)

Data question 1 How many row and columns are in the dataset?

In [ ]:


df = pd.read_csv("netflix_titles.csv")
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

List the number of Movies and TV Shows among the last 20 rows
of the dataset.

In [ ]:
last_20 = df.tail(20)
movie_count = (last_20['type'] == 'Movie').sum()
tv_count = (last_20['type'] == 'TV Show').sum()

print("\nAmong the last 20 rows:")
print("Movies:", movie_count)
print("TV Shows:", tv_count)